<header class="header">
  <div class="wrapper">
      <div class="header__logo">
        <a href="#" class="logo">
          <img src="../assets/images/logo.svg" alt="">
        </a>
        <div class="header__title">Your technology partner in the web development</div>
      </div>

      <ul class="header__menu">
        <li><a href="#">services</a></li>
        <li><a href="#">engagement models</a></li>
        <li><a href="#">case studies</a></li>
        <li><a href="#" class="button">Contact us</a></li>
        <li class="close">close menu <span>&#10005;</span></li>
      </ul>

    <div class="header__menu-button"></div>
    <div class="header__menu-shadow"></div>
  </div>
</header>
